<!doctype html>
<html>
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{%include "head_single_multi.html"%}

<body>
<div class="container">
    {% block body %}
    <script>
function success() {
            document.getElementById('superbutton').disabled = false;
    }


    </script>

    {%include "nav.html"%}
    <div class="row" id="divider">
        <header class="masthead text-white text-center">
        </header>
    </div>

    <div class="col-sm-12" id="gene_selection">
        <h1>Gene Filter</h1>
        <div class="pull-right">
            {% if view.export_formats %}
            {% for format in view.export_formats %}
            <a href="{% export_url format %}" class="btn btn-xs btn-default">
                download <code>.{{ format }}</code>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            <div id="filtersubmit">
                {% bootstrap_button 'filter' %}
            </div>
        </form>
        <script>
function success() {
         if(document.getElementById("supertext").value =="") {
            document.getElementById('superbutton').disabled = true;
        } else {
            document.getElementById('superbutton').disabled = false;
        }
    }
        </script>
        {% endif %}
        <h1>Data Selection and Plots</h1>
        <div class="col-sm-12" id="data_selection">
            <form action="{% url 'tables_view' %}" method="get" id="supertext" onkeyup="success()">
                <input type="submit" value="show selected data" id="superbutton" disabled> {% render_table table %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
