{% load static %}   
<nav id="navbar1" class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="home"><img src="{% static "assays/static/logo.png" %}" alt="Matheson Lab - Lessons from Viruses"></a>
      <a href= {% url 'gene_search' %}><i  class="fas fa-dna m-auto text-primary"></i></a>
      <a href={% url 'singletime_browse' %}><i  class="fas fa-vial m-auto text-primary"></i></a>
      <a href={% url 'multitime_browse' %}><i  class="fas fa-vials m-auto text-primary"></i></a>
      <a class="btn btn-primary" href="admin">admin</a>
         </div>
  </nav>

