{% extends 'base.html' %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load static %}

{% block jquery %}
var st = {{data_stp|safe}};
if (st) {
console.log('YES')
for (d of st) {
var a_mock =  d.a_a_mock
console.log(d)
console.log(a_mock)
var b_mock =   d.a_b_mock
var c_mock =   d.a_c_mock
var a_wt =  d.a_a_wt
var b_wt =   d.a_b_wt
var c_wt =    d.a_c_wt
var a_delta_vif  =   d.a_a_delta_vif
var b_delta_vif  =  d.a_b_delta_vif
var c_delta_vif  =  d.a_c_delta_vif
var gene_id = d.uniq_gene_id
setChart();


function setChart(){
var ctx = document.getElementById("myChart");
var my_id = gene_id;
var canvas = document.getElementById(my_id);
var tmp = new Chart(canvas, {
type: 'bar',
data: {
labels: ['Mock','WT','\u0394_vif'],
datasets: [{
label: "donor A",
backgroundColor: 'rgba(0, 0, 30, 0.4)',
data: [a_mock, a_wt, a_delta_vif]
}, {
label: "donor B",
backgroundColor: 'rgba(0, 0, 30, 0.2)',
data: [b_mock, b_wt, b_delta_vif]
}, {
label: "donor C",
backgroundColor:'rgba(255, 0, 0, 0.2)',
borderColor:'rgba(255,0,0, 1)',
data: [c_mock, c_wt, c_delta_vif]
},
]
},
options: {
legend: {position: 'left'},
scales: {
xAxes: [{
ticks: {
autoSkip: false,
maxRotation: 90,
minRotation: 90
}
}],
yAxes: [
{
id: 'A',
type: 'linear',
position: 'left',
scalePositionLeft: true,
ticks: {
beginAtZero: true,
}
},
]
}
}
});
}
}
}
{% endblock jquery %}
{% block content %}
<html>

{% include "nav.html" %}
<header class="masthead text-white text-center">
</header>

{% for o in tablelist %}
<div class="row">
    <div class='col-sm-8'>
        <h1> {{o.tid}} </h1>
        <canvas id={{o.tid}} width=800 height=400></canvas>
    </div>
    <div class='col-sm-4'>
        {% render_table o %}
    </div>
</div>
{% endfor %}
</html>
{% endblock content %}
