{% extends 'base.html' %}
{% load static %}
<script>

{% block jquery %}
var dt = {{data_stp|safe}};
for (d of dt) {
var a_mock =  d.a_mock
var b_mock =   d.b_mock
var c_mock =   d.c_mock
var a_wt =  d.a_wt
var b_wt =   d.b_wt
var c_wt =    d.c_wt
var a_delta_vif  =   d.a_delta_vif
var b_delta_vif  =  d.b_delta_vif
var c_delta_vif  =  d.c_delta_vif
var uniq_gene_id = d.uniq_gene_id
setChart();


function setChart(){
    var ctx = document.getElementById("myChart");
    var my_id = uniq_gene_id;
    var canvas = document.getElementById(my_id);
    var tmp = new Chart(canvas, {
    type: 'bar',
    data: {
      labels: ['Mock','WT','\u0394_vif'],
      datasets: [{
      label: "A",
      backgroundColor: 'rgba(0, 0, 30, 0.4)',
      data: [a_mock, a_wt, a_delta_vif]	      
   }, {
      label: "B",
      backgroundColor: 'rgba(0, 0, 30, 0.2)',
      data: [b_mock, b_wt, b_delta_vif]	   
   }, {
      label: "C",
      backgroundColor:'rgba(255, 0, 0, 0.2)',
      borderColor:'rgba(255,0,0, 1)',
      data: [c_mock, c_wt, c_delta_vif]	   
   }, 
      ]
    },
    options: {
	      legend: {position: 'bottom'},
        scales: {
            yAxes: [ 
     {
        id: 'A',
        type: 'linear',
        position: 'left',
        scalePositionLeft: true,
	     ticks: {
                    beginAtZero: true,
                }
      },
            ]
        }
    }
});
}
}
{% endblock jquery %}
{% block content %}
<div class="row">
                <div class="col-sm-6">
                <img src="{% static "assays/static/logo.png" %}" alt="lessons from viruses">
                </div>
                <div class="col-sm-6"></div>

        </div>

<div class='row'>
{% for o in uniq_gene_id %}
        <div class='col-sm-4'>
	<h2> {{o}} </h2>
	<canvas id={{o}} width=400 height=400></canvas>
        </div>
{% endfor %}
</div>
{% endblock content %}
</script>
